.signin1 {
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
  }
  
  .theFormInputs {
    height: 800px;
    padding-top: 38px;
    width: 360px;
    align-items: center;
    overflow: hidden;
    background-color: white;
  }

  .frame {
    width: 360px;
    justify-content: center;
  }
  
  .frameLayout {
    height: 79px;
    overflow: hidden;
  }
  
  .headerContainertopBarhide {
    width: 336px;
    justify-content: flex-end;
    padding-inline: 11px;
    padding-top: 0;
    opacity: 0.8;
    background-color: white;
  }
  
  .createYourAccount {
    font-size: 24px;
    font-weight: 700;
    color: slateblue;
    width: 292px;
    height: 51px;
    text-align: left;
    line-height: 50px;
  }
  
  .containerChild {
    top: 478px;
    left: 23px;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
  
  .inputNumberChild {
    top: 29px;
    left: 0;
    width: 315px;
    position: absolute;
  }
  
  .phoneNumber {
    font-family: "Poppins-SemiBold";
    font-weight: 600;
    font-size: 16px;
    top: 0;
    color: black;
    left: 0;
    width: 315px;
    position: absolute;
  }
  
  .inputNumber {
    top: 341px;
    height: 81px;
    left: 30px;
  }
  
  .infostyle {
    color: black;
    text-align: left;
    font-family: "Poppins-SemiBold";
    font-weight: 600;
    font-size: 16px;
    top: 0;
  }
  
  .inputNumber2 {
    top: 95px;
    height: 81px;
  }
  
  .inputNumber1 {
    top: 38px;
    width: 318px;
    height: 176px;
    left: 30px;
    position: absolute;
  }
  
  .inputNumber3 {
    top: 237px;
    left: 33px;
    height: 81px;
  }
  
  .phoneLoginIcon {
    border-radius: 6px;
  }
  
  .googleActionloginfirebaseIcon {
    margin-left: 22px;
  }
  
  .frame1 {
    top: 614px;
    left: 88px;
    width: 184px;
    flex-direction: row;
    height: 45px;
    position: absolute;
    align-items: center;
    overflow: hidden;
  }
  
  .frame2 {
    top: 584px;
    left: 150px;
    width: 82px;
    height: 30px;
    align-items: flex-end;
    position: absolute;
    justify-content: center;
    overflow: hidden;
  }
  
  .orContinueWith {
    top: 568px;
    left: 125px;
    font-size: 14px;
    width: 122px;
    height: 32px;
    position: absolute;
    color: black;
    line-height: 32px;
  }
  
  .container {
    height: 683px;
    width: 360px;
    overflow: hidden;
  }
  
  